* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(116, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
padding: 0 20px;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
color: #fff;
background: inherit;}
.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav li {
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #7b02ae;
}
.home {
  text-align: center;
  padding: 100px 0;
  color: white;
}
.banner {
  font-size: 2.5rem;
  margin: 100px 0 20px 0;
}
.slogan {
  font-size: 1.5rem;
}
button {
  text-decoration: none;
  color: white;
  background-color: #052d72;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  border: none;
}
button:hover {
  background-color: rgb(104, 9, 121);
  cursor: pointer;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #052d72;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(104, 9, 121);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f24b;
  padding: 20px;
}

.aboutus{
  padding: 100px;
}
a{
  text-decoration: none;
  color: white;
}

.login-container {
  border-radius: 5px;
  background-color: #f2f2f24b;
  padding: 20px;
}

.register-container {
  display:none;
  border-radius: 5px;
  background-color: #f2f2f24b;
  padding: 20px;
}

.wyloguj{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.wyloguj:hover{
  background-color: #7b02ae;
}